.navbar {
  width: 100%;
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #c6c6c6;

  h1 {
    color: #0290ff;
    font-size: 30px;
    margin: 0 2rem;
  }

  a {
    color: rgb(34, 34, 34);
    font-size: 16px;
    margin-right: 20px;

    &:hover {
      color: #0290ff;
      font-weight: 700;
      text-decoration: underline;
      transition: 0.5s all;
    }
  }

  span {
    text-align: end;
    flex: 1;
    margin: 0 2rem;
  }
}
