.navbar {
  width: 100%;
  background-color: #fff;
  height: 80px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e8e8e8;
  padding: 0 6rem;

  h1 {
    color: #0290ff;
    font-size: 30px;
    margin: 0 2rem;
    margin-right: 3rem;
  }

  a {
    color: rgb(34, 34, 34);
    font-size: 14px;
    margin: 2rem;

    .nav-active {
      color: #888;
    }

    &:hover {
      color: #0290ff;
      font-weight: 700;
      transition: 0.5s all;
    }
  }

  .links {
    flex: 1;
    font-size: 0.8rem;
  }

  span {
    text-align: center;
    margin: 0 2rem;
    border: 1px solid #e8e8e8;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding-top: 8px;

    img {
      width: 18px;
      height: 18px;
    }
  }
}
